<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置数据源-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql:///hibernate-student</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!--配置出c3p0连接池-->
        <property name="hibernate.c3p0.max_size">200</property>
        <property name="hibernate.c3p0.min_size">100</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_statements">20</property>
        <property name="c3p0.idle_test_period">1000</property>
        <property name="hibernate.c3p0.acquire_increment">50</property>

        <!--设定 JDBC 的 Statement 读取数据的时候每次从数据库中取出的记录条数-->
        <property name="hibernate.jdbc.fetch_size">100</property>
        <!--设定对数据库进行批量删除，批量更新和批量插入的时候的批次大小-->
        <property name="hibernate.jdbc.batch_size">30</property>


        <!--方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--打印sql-->
        <property name="show_sql">true</property>
        <!--格式化sql-->
        <property name="format_sql">true</property>
        <!--建表策略-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--删除对象后,使其OID为null-->
        <property name="hibernate.use_identifier_rollback">true</property>
        <!--关联映射文件-->
        <mapping resource="mapper/Person2.hbm.xml"/>

        <!---->
    </session-factory>
</hibernate-configuration>